{% set page = this.params['page'] is not empty ? this.params['page'] : null %}
{% set seo = this.params['seo'] is not empty ? this.params['seo'] : null %}

{% spaceless %}
    {{ register_asset_bundle('frontend/assets/AppAsset') }}
    {{ void(this.beginPage()) }}
    <!DOCTYPE html>
    <html lang="{{ app.language }}">
    <head>
        <meta charset="{{ app.charset }}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>
            {{ Html.encode(this.title) }}
        </title>
        {{ Html.csrfMetaTags | raw }}
        {{ void(this.head) }}
        {% include('_counters.twig') %}
    </head>
    <body class="{% if (LayoutHelper.isGuest == false) %}logged-in{% else %}guest{% endif %}">
    {{ void(this.beginBody()) }}
    <div class="wrap">

        {% set location = constant('itmaster\\core\\modules\\snippet\\models\\frontend\\Snippet::LOCATION_FOOTER') %}

        {% if (LayoutHelper.isGuest == false) %}

            <section id="header">
                {# header content #}
                {{ nav_bar_begin({
                    'brandLabel': app.name,
                    'brandUrl' : app.homeUrl,
                    'innerContainerOptions' : {'class' : 'container-fluid'},
                    'options' : {
                        'class' : 'navbar navbar-default navbar-fixed-top main-menu',
                        'id' : 'top-line'
                    }
                }) }}

                {% set menuItems = [] %}


                {# NavBar menu widget #}

                {{ use ('common/widgets/NavigatorProfile') }}
                {{ navigator_profile_widget({
                    'options': {
                        'class': 'navbar-nav navbar-right',
                        'id' : 'profile-menu'
                    },
                    'isDropdown': true,
                    'menuCode': 'profile',
                }) }}


                <div class="pull-right">
                    <a id="notification-menu" href="/notification/index"><span class="glyphicon glyphicon-envelope"></span>{% if (LayoutHelper.getNotificationsQuantity != 0) %}<div class="notification-circle">{{LayoutHelper.getNotificationsQuantity}}</div>{% endif %}</a>
                </div>


                {{ nav_bar_end() }}
            </section>

        {% endif %}

        <section id="main">
            {% if (LayoutHelper.isGuest == false) %}
            <div id="sidebar">

                <div class="user-info">

                    <div class="avatar-circle">
                        <div class="avatar-circle-img" style="background-image: url({{ LayoutHelper.getUser().avatarUrl }})"></div>
                    </div>

                    <div class="full-name">
                        {{ LayoutHelper.getUser().fullName }}
                    </div>

                    <div class="role-name">
                        {{ LayoutHelper.getUser().roleName|capitalize }}
                    </div>

                </div>

                {{ use ('common/widgets/NavigatorSidebar') }}
                {{ navigator_sidebar_widget({
                    'options': {
                        'class': 'sidebar-nav',
                        'id' : 'sidebar-menu'
                    },
                    'isDropdown': true,
                    'menuCode': 'sidebar-inner',
                }) }}


            </div>
            {% endif %}
            <div class="container-fluid">

                {{ Alert.widget()|raw(html) }}

                <div id="content">

                    {#page content #}
                    {#% if page %}
                        {% include('_content.twig') %}
                    {% endif %#}
                        {{ content|raw(html) }}
                </div>
            </div>
        </section>
    </div>

    {{ void(this.endBody()) }}

    {% include('_counters.twig') %}

    </body>
    </html>
    {{ void(this.endPage()) }}
{% endspaceless %}
